doctype 5
html(ng-app)
  head
    meta(charset="utf-8")
    title TODO: TITLE SHOULD BE HERE
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    style(type="text/css")
      tbody {
        font-size: 12px;
      }
    block stylesheets

  body
    .container
      block contents

    // scripts start here
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
    script(src="/js/bootstrap.min.js")

    block scripts
