extends layout

block contents
  div(ng-controller='BokkiCtrl')
    span {{owner}}/{{repo}}/{{path}} 
    span(ng-if='revs') : {{rev_index}}
    div(ng-if='!revs')
      p Now Loading...
    div(ng-if='revs && rev_index == 0')
      p First Commit
      pre: {{revs[0].content}}
    div(ng-if='revs && rev_index == revs.length')
      p Last Commit
      pre: {{revs[revs.length-1].content}}
    div(ng-if='revs && rev_index != 0 && rev_index != revs.length')
      p Diff View
      div(id="diff{{rev_index}}", compile='rev_index')

block stylesheets
  script(src="/bokki.js")

  link(rel="stylesheet", href="http://blmarket.net/~blmarket/jsdifflib/diffview.css")
