extends layout

block contents
  #list(ng-controller="RecentsCtrl")
    .row(ng-repeat="file in file_list")
      p
        | {{$index}} 
        a(href="/viewfile/{{encode(file)}}") {{file}}

block scripts
  script(type="text/javascript")
    function RecentsCtrl($scope, $http) {
      function load() {
        $http.jsonp('/0/recents?callback=JSON_CALLBACK').success(function(data, status) {
          for(var i=0,len=data.length;i<len;i++) {
            data[i] = data[i].join('/')
          }
          $scope.file_list = data;
        });
      }

      function encode(path) {
        return encodeURIComponent(path);
      }

      $scope.file_list = [];
      $scope.encode = encode;
      load();
    }
    
