extends layout

block stylesheets
  link(rel="stylesheet", href="http://blmarket.net/~blmarket/jsdifflib/diffview.css")

block contents
  div
    #commitsha
    #diffOutput
    div(ng-controller="CommentsCtrl")
      {{test}}
    // #{JSON.stringify(repository)}

block scripts
  script(src="http://blmarket.net/~blmarket/jsdifflib/diffview.js")
  script(src="http://blmarket.net/~blmarket/jsdifflib/difflib.js")
  script(type="text/javascript")
    var data = !{data};
    var index = 0;
    var target = $('#diffOutput');
      
    function CommentsCtrl($scope, $http) {
      $scope.test = "";

      $http.jsonp(
        "https://api.github.com/repos/#{repo.owner}/#{repo.name}/commits/3a9b93fa420a279480f871fdec4c2f85b349b705/comments?callback=JSON_CALLBACK"
      ).success(function(data, status) {
        $scope.test = data.data;
      });
    }

    function update() {
      var left = index - 1; if(left < 0) left = 0;
      var base = difflib.stringAsLines(data[left].code);
      var other = difflib.stringAsLines(data[index].code);
      
      var sm = new difflib.SequenceMatcher(base, other);
      target.empty();
      target.append(diffview.buildView({
        baseTextLines: base,
        newTextLines: other,
        opcodes: sm.get_opcodes(),
        baseTextName: 'Older Version',
        newTextName: 'Newer Version',
        contextSize: null,
        viewType: 1
      }));

      $('#commitsha').text(data[index].commit);
    }
    
    $(document).ready(update);  
    $(window).keyup(function(ev) {
      if(ev.keyCode == 37) {
        index--; if(index < 0) index = 0; update();
      } else if(ev.keyCode == 39) {
        index++; if(index >= data.length) index = data.length - 1; update();
      }
    });

